#header h1 sup,
#header .button,
#header .landmark,
#header .logo {
  display: none;
}

#header,
#inner.wrapper {
  margin: 0em 4%;
}

#main,
#inner.wrapper,
.listbox .index,
.work.own,
.thread .even {
  background: #daeade;
}

#outer.wrapper {
  background: #daeade;
  padding-top: 70px;
  background-image: url("https://i.ibb.co/6gdLf1K/81148300.png");
  background-repeat: repeat-x;
  background-position: left top;
  background-size: auto 250px;
}

#header .heading {
  height: 200px;
}

#header {
  background-color: #759d7b;
  border-radius: 10px;
  background-image: url("https://i.ibb.co/FY0HkL8/81148319.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  border: 1px solid #303B37;
  box-shadow: 0 0 2px #000;
}

#header .primary {
  box-shadow: none;
  background: none;
  position: absolute;
  color: #daeade;
  top: -70px;
  left: 0em;
}

#header .primary li:first-child {
  margin-left: 0em;
}

#header .primary li,
#header .primary li a,
#greeting li,
#greeting li a {
  color: #daeade !important;
}

#header .heading a {
  color: #FE1D19;
  position: absolute;
  top: -40px;
  left: 0em;
}

#greeting {
  background: none;
  margin-right: 0em;
}

#greeting li {
  background-color: #759d7b;
  border: 1px solid #303B37;
  box-shadow: 0 0 2px #000;
  margin-right: 0.5em !important;
}

#greeting li:last-child {
  margin-right: 0em !important;
}

#greeting .dropdown .menu li {
  margin: 0 0.125em !important;
}

#greeting .menu {
  width: 16em;
}

#greeting .icon img {
  box-shadow: 0 0 5px #000;
  border: 2px solid #fff;
  margin-right: 4px;
}

.splash .favorite li:nth-of-type(odd) a {
  background: #96b593;
}

#workskin h2,
.system .latest h3,
.splash .module h3,
.system .tweets h3 {
  color: #FE1D19;
}

#footer {
  border-color: #FE1D19;
  background: #96b593;
  color: #daeade;
}

.blurb h4 a:link,
#footer h4 {
  color: #b11411 !important;
}

#footer .menu,
#footer .menu a {
  color: #daeade;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
a.tag:hover,
a.tag:focus,
#dashboard a:hover,
#dashboard a:focus,
#dashboard .current,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus {
  background: #759d7b !important;
  color: #fff !important;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .dropdown .menu a,
#header .dropdown .menu,
#greeting .dropdown .menu,
#greeting .dropdown .menu a {
  background: #daeade !important;
  color: #000 !important;
}

#dashboard,
#dashboard.own {
  background: #F3F8F5;
  color: #000;
  border: 2px solid #759d7b;
  box-shadow: 0 0 2px #000;
}

#header .dropdown .menu,
#greeting .dropdown .menu {
  border: 1px solid #303B37;
}

#greeting .current,
#greeting .dropdown:hover li,
#greeting .dropdown:focus li {
  box-shadow: none;
  background: #daeade !important;
  color: #000 !important;
  border-top: none;
  border-left: none;
  border-right: none;
}

#dashboard ul {
  background: transparent;
  border: none;
}

#dashboard .secondary {
  background-color: #fff;
  box-shadow: none;
}

.splash .module h3,
.splash .news li,
.home .header h2,
li.comment,
dl.meta,
.bookmark .user,
#header .menu li,
#dashboard ul,
#dashboard .secondary,
ul.notes,
.flash,
.notice,
tbody tr,
thead td,
#header #small_login,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form dt,
.actions a:active,
.current,
a.current,
.current a:visited,
.search span.tip,
.listbox,
fieldset fieldset.listbox {
  border-color: #303B37;
}

.flash,
.notice,
.comment h4.byline,
#main .verbose legend,
.unread,
.child,
.unwrangled,
.unreviewed,
.verbose fieldset,
.draft,
form ul.notes,
#modal,
.ui-sortable li,
.comment_notice,
.kudos_notice,
div.dynamic,
#ui-datepicker-div,
.ui-datepicker table {
  background-color: #96b593;
  border-color: #303B37;
}

form .notice,
ul.notes,
.caution {
  background-color: #E0B4A4;
  border-color: #C39693;
}

.alert.flash,
.error,
.comment_error,
.kudos_error {
  background: #efd1d1;
  color: #000;
  border-color: #900;
}

h2 {
  font-size: 1.286em;
  line-height: 1;
  margin: 0.5375em 0;
}

.listbox,
.bookmark .user,
.bookmark .user .header,
.reading h4.viewed,
li.relationships a,
.dropdown,
fieldset fieldset.listbox,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.secondary form,
.required .autocomplete {
  background-color: #b5cbb3;
}

.filters .submit input {
  color: #FFF;
  background: #759d7b;
  box-shadow: 0 0 4px #000;
  border: none;
}

li.blurb,
.listbox li.blurb,
li.comment,
.statistics .index li:nth-of-type(even),
dl.meta,
dl.index dd,
#ibox_wrapper,
#ibox_content,
textarea:focus,
input:focus,
select:focus {
  background-color: #F3F8F5;
}

textarea,
input,
select,
option,
.toggled form,
.dynamic form,
.autocomplete .dropdown ul,
.autocomplete .dropdown ul li,
.autocomplete input {
  background-color: #fff;
}

li.blurb,
.listbox li.blurb {
  box-shadow: 0px 0px 4px #000;
  border: 1px solid #759d7b;
  border-radius: 10px;
}

.bookmark .user {
  border-radius: 5px;
}

.blurb .header {
  border-bottom: 1px solid #303B37;
}

.bookmark .user .module {
  border: none;
}

.reading h4.viewed,
.bookmark .user {
  box-shadow: none;
}

.reading h4.viewed {
  border: 1px dashed #303B37;
}

.icon {
  border: 2px solid #fff;
}

.comment div.icon {
  border-bottom: none;
}

#workskin .notes,
dl.meta,
.reading h4.viewed,
.bookmark .user,
.comment .posted,
.comment .edited {
  font-size: 90%;
}

#workskin {
  text-align: justify;
}

#workskin h2 {
  font-size: 2.7em;
}

ul.tags li.warnings,
ul.tags li.relationships,
ul.tags li.characters,
ul.tags li.freeforms {
  float: left !important;
  margin: 0;
  padding: 2px;
}

li.warnings + li.relationships,
li.relationships + li.characters,
li.characters + li.freeforms,
li.warnings + li.characters,
li.warnings + li.freeforms,
li.relationships + li.freeforms {
  clear: left;
}

ul.tags li.warnings:first-child:before {
  content: "Warnings: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.relationships:before {
  content: "Relationships: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.relationships + li.characters:before {
  content: "Characters: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.characters + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.characters:before {
  content: "Characters: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.relationships + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.blurb blockquote p:first-child::before {
  content: "About: ";
  color: #000;
  font-size: 95%;
  font-family: Georgia,serif;
  font-weight: 600;
}

.blurb ul.series::before {
  content: "Series: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

.blurb .fandoms::before {
  content: "Fandom: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

#header h2 {
  background-color: #b11411 !important;
  border: 1px solid #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
