#header h1 sup,
#header .button,
#header .landmark,
#header .logo {
  display: none;
}

#header,
#inner.wrapper {
  margin: 0em 2%;
}

#main,
.listbox .index,
.work.own,
li.relationships a,
.thread .even {
  background: #c3daea;
}

body,
#main {
  color: #042630;
}

#outer.wrapper {
  padding-top: 9em;
  background-color: #7ca2b7;
  background-image: url("https://images2.imgbox.com/0e/dc/8JOUJ9yY_o.png");
  background-repeat: repeat-x;
  background-position: left top;
  background-size: auto 6em;
}

#inner.wrapper {
  padding: 2em 0.5em 0.5em 0.5em;
  background: #e6eff6;
}

#header .heading {
  height: 26em;
  background: none;
}

#header {
  background-color: #7ca2b7;
  background-image: url("https://images2.imgbox.com/38/03/xmZbyzhj_o.png"), url("https://images2.imgbox.com/a9/8e/6fKlzFrI_o.png"), url("https://images2.imgbox.com/a9/8e/6fKlzFrI_o.png");
  background-repeat: no-repeat, repeat-x, repeat-x;
  background-position: left bottom, right bottom, 2em bottom;
  background-size: auto 23em, auto 5em, auto 5em;
}

#main {
  border: 1px solid #548999;
}

#header .primary {
  background: none;
  color: #548999;
  width: 12em;
  height: 9em;
  position: absolute;
  top: 18.5em;
  left: 0.3em;
  box-shadow: none;
}

#header .dropdown .menu {
  min-width: 19em;
}

#header .primary li:first-child {
  margin-left: 0em;
}

#header #search .text {
  width: 10em;
  background: #c3daea;
  border: 1px solid #548999;
  position: absolute;
  top: 3em;
  right: -0.6em;
}

#greeting li,
#greeting li a {
  color: #548999 !important;
}

#header .primary li,
#header .primary li a {
  color: #063645 !important;
}

#greeting {
  background: #c3daea;
  border: 2px dashed #e6eff6;
  position: absolute;
  top: 8em;
  right: 0em;
  margin-right: 0em;
}

#greeting li {
  clear: left;
  border-bottom: 1px dashed #e6eff6;
  margin-top: 0.4em !important;
}

#greeting .dropdown .menu li {
  margin: 0 0.125em !important;
}

#greeting .menu {
  width: 16em;
}

#greeting .icon img {
  border: 2px solid #fff;
  margin-right: 8px;
}

#greeting::before {
  background-image: url("https://images2.imgbox.com/8c/5c/5ip7CYU5_o.png");
  background-size: 20px 40px;
  display: inline-block;
  width: 20px;
  height: 40px;
  content: "";
  position: relative;
  left: 38px;
  top: 0px;
}

#header .heading a {
  font-size: 2.2em;
  line-height: 1.2em;
  text-transform: titlecase;
  letter-spacing: .1em;
  color: #e6eff6;
  position: absolute;
  left: 0em;
  top: -1.5em;
}

#footer {
  background: none;
  border: none;
}

#workskin h2,
.preface h3 a,
.system .latest h3,
.splash .module h3,
.system .tweets h3 {
  color: #548999;
}

.blurb h4 a:link {
  color: #548999 !important;
}

.splash .favorite li:nth-of-type(odd) a {
  background: #e6eff6;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
a.tag:hover,
a.tag:focus,
#dashboard a:hover,
#dashboard a:focus,
#dashboard .current,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus {
  background: #7ca2b7 !important;
  color: #fff !important;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .dropdown .menu a,
#header .dropdown .menu,
#greeting .dropdown .menu,
#greeting .dropdown .menu a {
  background: #e6eff6 !important;
  color: #042630 !important;
}

#header .dropdown .menu,
#greeting .dropdown .menu {
  border: 1px solid #548999;
}

#greeting .current,
#greeting .dropdown:hover li,
#greeting .dropdown:focus li {
  box-shadow: none;
  background: #e6eff6 !important;
  color: #042630 !important;
}

#dashboard.own,
#dashboard {
  background: #c3daea;
  box-shadow: 0 0 2px #000;
  color: #042630;
  border: 2px solid #548999;
}

#dashboard ul {
  background: transparent;
  border: none;
}

#dashboard .secondary {
  background-color: rgba(250,250,250,0.7);
  box-shadow: none;
}

.splash .module h3,
.splash .news li,
.home .header h2,
li.comment,
dl.meta,
.bookmark .user,
#header .menu li,
#dashboard ul,
#dashboard .secondary,
ul.notes,
.flash,
.notice,
tbody tr,
thead td,
#header #small_login,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form dt,
.actions a:active,
.current,
a.current,
.current a:visited,
.search span.tip,
.listbox,
fieldset fieldset.listbox {
  border-color: #548999;
}

#main .verbose legend,
.unread,
.child,
.unwrangled,
.unreviewed,
.verbose fieldset,
.draft,
form ul.notes,
#modal,
.ui-sortable li,
.comment_notice,
.kudos_notice,
div.dynamic,
#ui-datepicker-div,
.ui-datepicker table {
  background-color: #c7b9b5;
  border-color: #548999;
}

.flash,
.notice {
  background-color: #548999;
  color: #fff;
  border-color: #000;
}

.flash a,
.notice a {
  color: #fff;
}

form .notice,
ul.notes,
.caution {
  background-color: #FFEEDA;
  border-color: #45769e;
  color: #042630;
}

form .notice a,
ul.notes a,
.caution a {
  background-color: #FFEEDA;
  border-color: #45769e;
  color: #042630;
}

.alert.flash,
.error,
.comment_error,
.kudos_error {
  background: #efd1d1;
  color: #000;
  border-color: #900;
}

h2 {
  font-size: 1.286em;
  line-height: 1;
  margin: 0.5375em 0;
}

.comment h4.byline {
  background-color: #7ca2b7;
}

.listbox,
.bookmark .user,
.bookmark .user .header,
.reading h4.viewed,
.dropdown,
fieldset fieldset.listbox,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.secondary form,
.required .autocomplete {
  background-color: #e3dbd9;
}

.filters .submit input {
  color: #FFF;
  background: #9c908e;
  box-shadow: 0 0 4px #000;
  border: none;
}

li.blurb,
.listbox li.blurb,
li.comment,
.statistics .index li:nth-of-type(even),
dl.meta,
dl.index dd,
#ibox_wrapper,
#ibox_content,
textarea:focus,
input:focus,
select:focus {
  background: rgba(250,250,250,0.7);
}

textarea,
input,
select,
option,
.toggled form,
.dynamic form,
.autocomplete .dropdown ul,
.autocomplete .dropdown ul li,
.autocomplete input {
  background-color: #fff;
}

li.blurb,
.listbox li.blurb {
  box-shadow: 0px 0px 4px #000;
  border: 2px solid #548999;
  border-radius: 10px;
}

.bookmark .user {
  border-radius: 5px;
}

.blurb .header {
  border-bottom: 1px solid #548999;
}

.bookmark .user .module {
  border: none;
}

.reading h4.viewed,
.bookmark .user {
  box-shadow: none;
}

.reading h4.viewed {
  border: 1px dashed #548999;
}

.icon {
  border: 2px solid #fff;
}

.comment div.icon {
  border-bottom: none;
}

#workskin .notes,
dl.meta,
.reading h4.viewed,
.bookmark .user,
.comment .posted,
.comment .edited {
  font-size: 90%;
}

#workskin {
  text-align: justify;
}

#workskin h2 {
  font-size: 2.7em;
}

ul.tags li.warnings,
ul.tags li.relationships,
ul.tags li.characters,
ul.tags li.freeforms {
  float: left !important;
  margin: 0;
  padding: 2px;
}

li.warnings + li.relationships,
li.relationships + li.characters,
li.characters + li.freeforms,
li.warnings + li.characters,
li.warnings + li.freeforms,
li.relationships + li.freeforms {
  clear: left;
}

ul.tags li.warnings:first-child:before {
  content: "Warnings: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.relationships:before {
  content: "Relationships: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.relationships + li.characters:before {
  content: "Characters: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.characters + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.characters:before {
  content: "Characters: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.relationships + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.blurb blockquote p:first-child::before {
  content: "About: ";
  color: #000;
  font-size: 95%;
  font-family: Georgia,serif;
  font-weight: 600;
}

.blurb ul.series::before {
  content: "Series: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

.blurb .fandoms::before {
  content: "Fandom: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

#header h2 {
  background-color: #B9848C !important;
  margin: 0.1em auto;
  border-top: 1px solid #e6eff6;
  border-bottom: 1px solid #e6eff6;
  clear: right;
}

.home .primary .icon::after {
  background-image: url("https://images2.imgbox.com/8c/5c/5ip7CYU5_o.png");
  background-size: 70px 100px;
  display: inline-block;
  width: 70px;
  height: 100px;
  content: "";
  position: absolute;
  left: 55px;
  top: -10px;
}
