#header h1 sup,
#header .button,
#header .landmark,
#header .logo {
  display: none;
}

#main,
.listbox .index,
.thread .even,
.work.own {
  background: #ead8c2;
}

#header,
#inner.wrapper {
  margin: 0em 6%;
}

#main {
  border: 4px solid #7e846c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#outer.wrapper {
  padding-top: 80px;
  background-color: #ceccac;
  background-image: url("https://images2.imgbox.com/16/72/VyjI6brw_o.png"), url("https://images2.imgbox.com/c2/d3/H9dPlwyD_o.jpg");
  background-repeat: no-repeat, repeat-x;
  background-position: left 120px, left top;
  background-size: auto 200px, auto 80px;
}

#inner.wrapper {
  background: #7e846c;
}

#header .heading {
  height: 230px;
}

#header {
  background-color: rgba(255,255,255,0);
}

#header .primary {
  box-shadow: none;
  background: #7e846c;
  border-top: 4px solid #7e846c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#header .heading a {
  font-size: 1.9em;
  line-height: 0.8em;
  text-transform: titlecase;
  letter-spacing: .05em;
  color: #8f5352;
  position: absolute;
  top: 180px;
  left: 150px;
}

#greeting .menu {
  width: 16em;
}

#greeting .icon img {
  border: 1px solid #fff;
}

#header #search .text {
  width: 80%;
  background: rgba(250,250,250,0.8);
}

.splash .favorite li:nth-of-type(odd) a {
  background: #c7b390;
}

#workskin h2,
.preface h3 a,
.system .latest h3,
.splash .module h3,
.system .tweets h3 {
  color: #8f5352;
}

#footer h4,
.blurb h4 a:link {
  color: #8f5352 !important;
}

#footer {
  background: none;
  border: none;
}

#footer .menu,
#footer .menu a {
  color: #000;
}

#main.dashboard,
#dashboard {
  margin-top: 0em;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus,
a.tag:hover,
a.tag:focus,
#dashboard a:hover,
#dashboard a:focus,
#dashboard .current,
#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus {
  background: #7e846c !important;
  color: #fff !important;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .dropdown .menu a,
#header .dropdown .menu,
#greeting .dropdown .menu,
#greeting .dropdown .menu a {
  background: #d2c2a6 !important;
  color: #000 !important;
}

#header .dropdown .menu,
#greeting .dropdown .menu {
  border: 1px solid #a1856f;
}

#greeting .current,
#greeting .dropdown:hover li,
#greeting .dropdown:focus li {
  box-shadow: none;
  background: #d2c2a6 !important;
  color: #000 !important;
}

#dashboard.own,
#dashboard {
  background: rgba(255,255,255,0.7);
  box-shadow: 0 0 2px #000;
  color: #000;
  border: 2px solid #dddddd;
}

#dashboard ul {
  background: transparent;
  border: none;
}

#dashboard .secondary {
  background-color: rgba(250,250,250,0.7);
  box-shadow: none;
}

.splash .module h3,
.splash .news li,
.home .header h2,
li.comment,
dl.meta,
.bookmark .user,
#header .menu li,
#dashboard ul,
#dashboard .secondary,
ul.notes,
.flash,
.notice,
tbody tr,
thead td,
#header #small_login,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
form dt,
.actions a:active,
.current,
a.current,
.current a:visited,
.search span.tip,
.listbox,
fieldset fieldset.listbox {
  border-color: #a1856f;
}

.comment h4.byline,
#main .verbose legend,
.unread,
.child,
.unwrangled,
.unreviewed,
.verbose fieldset,
.draft,
form ul.notes,
#modal,
.ui-sortable li,
.comment_notice,
.kudos_notice,
div.dynamic,
#ui-datepicker-div,
.ui-datepicker table {
  background-color: #c7b390;
  border-color: #a1856f;
}

.flash,
.notice {
  background-color: #7e846c;
  color: #fff;
}

.flash a,
.notice a {
  color: #fff;
}

form .notice,
ul.notes,
.caution {
  background-color: #e0b4a4;
  color: #000;
}

form .notice a,
ul.notes a,
.caution a {
  background-color: #e0b4a4;
  color: #000;
}

.alert.flash,
.error,
.comment_error,
.kudos_error {
  background: #efd1d1;
  color: #000;
  border-color: #900;
}

h2 {
  font-size: 1.286em;
  line-height: 1;
  margin: 0.5375em 0;
}

li.relationships a,
.listbox,
.bookmark .user,
.bookmark .user .header,
.reading h4.viewed,
.dropdown,
fieldset fieldset.listbox,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.dynamic form fieldset,
.toggled form fieldset,
.toggled form dl,
.secondary .toggled form,
.secondary form,
.required .autocomplete {
  background-color: #d2c2a6;
}

.filters .submit input {
  color: #FFF;
  background: #7e846c;
  box-shadow: 0 0 4px #000;
  border: none;
}

li.blurb,
.listbox li.blurb,
li.comment,
.statistics .index li:nth-of-type(even),
dl.meta,
dl.index dd,
#ibox_wrapper,
#ibox_content,
textarea:focus,
input:focus,
select:focus {
  background: rgba(250,250,250,0.5);
}

textarea,
input,
select,
option,
.toggled form,
.dynamic form,
.autocomplete .dropdown ul,
.autocomplete .dropdown ul li,
.autocomplete input {
  background-color: #fff;
}

li.blurb,
.listbox li.blurb {
  box-shadow: 0px 0px 2px #000;
  border: 2px solid #a1856f;
  border-radius: 10px;
}

.bookmark .user {
  border-radius: 5px;
}

.blurb .header {
  border-bottom: 1px solid #a1856f;
}

.bookmark .user .module {
  border: none;
}

.reading h4.viewed,
.bookmark .user {
  box-shadow: none;
}

.reading h4.viewed {
  border: 1px dashed #a1856f;
}

.icon {
  border: 2px solid #fff;
}

.comment div.icon {
  border-bottom: none;
}

#workskin .notes,
dl.meta,
.reading h4.viewed,
.bookmark .user,
.comment .posted,
.comment .edited {
  font-size: 90%;
}

#workskin {
  text-align: justify;
}

#workskin h2 {
  font-size: 2.7em;
}

ul.tags li.warnings,
ul.tags li.relationships,
ul.tags li.characters,
ul.tags li.freeforms {
  float: left !important;
  margin: 0;
  padding: 2px;
}

li.warnings + li.relationships,
li.relationships + li.characters,
li.characters + li.freeforms,
li.warnings + li.characters,
li.warnings + li.freeforms,
li.relationships + li.freeforms {
  clear: left;
}

ul.tags li.warnings:first-child:before {
  content: "Warnings: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.relationships:before {
  content: "Relationships: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.relationships + li.characters:before {
  content: "Characters: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.characters + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.characters:before {
  content: "Characters: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.warnings + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.relationships + li.freeforms:before {
  content: "Other tags: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

li.blurb blockquote p:first-child::before {
  content: "About: ";
  color: #000;
  font-size: 95%;
  font-family: Georgia,serif;
  font-weight: 600;
}

.blurb ul.series::before {
  content: "Series: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

.blurb .fandoms::before {
  content: "Fandom: ";
  color: #000;
  font-family: Georgia,serif;
  font-weight: 600;
}

#header h2 {
  background-color: #8f5352 !important;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 4px #000;
}
